*.log
*.int
*.rsc
*.dmb
*.lk
info.json

# WinMerge backups
*.bak

# String dumps
*.str

# Compiled Python doohickies
*.pyc

#ignore any files in config/, except those in subdirectories.
/config/*
!/config/*/*

# OpenBYOND-generated crap
/dmis
/interface-indented
/code-indented
*.new.dmi

.metadata
/bot/config.yml
/bot/data
/analysis
/code-fixed

# Player preferences
players2.sqlite

# New CMC Minimap images.
/data/minimaps/*

# Map rendering
/maprendering/renderoutput/*

# Backup maps created by maptools
*.dmm.backup

# Changelog dry runs
/html/changelog.dry.html
/html/changelogs/.dry_changelog.yml

# Map player count config
/maps/voting/*/playercount.txt

# Runtime condenser I/O files.
/tools/Runtime\ Condenser/*.txt

# Investigate logs that have an annoying tendency to generate during testing
/data/investigate/*
config-example/README feedback.txt
config-example/ZAS.txt
config-example/access levels.txt
config-example/admin_ranks.txt
config-example/admins.txt
config-example/alienwhitelist.txt
config-example/config.txt
config-example/custom_items.txt
config-example/custom_sprites.txt
config-example/dbconfig.txt
config-example/forumdbconfig.txt
config-example/game_options.txt
config-example/jobs.txt
config-example/moderators.txt
config-example/motd help.txt
config-example/motd.txt
config-example/rules.html
config-example/svndir.txt
